body {
    background-color: black;
    color: white;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(225, 225, 225, 0.15);
        backdrop-filter: blur(10px);
    }
}
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
.sign:hover {
    transform: scale(1.05);

}
main {
    padding: 80px 20px;
}
.mfirst-line {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

/*----main css---*/

.gae-main-h3 {
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: left;

}
.gae-main-p {
    font-weight: 500;
    color: white;
    text-align: left;
}

/*--- 추천작 리스트 ---*/

.seo-title {
    padding-top: 30px;
    padding-bottom: 10px;
}
.seo-poster {
    border: none;
    margin-bottom: 10px;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

/*footer*/

.first-line {
    color: white;
    border-bottom: 1px solid gray;
    font-weight: 500;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}


a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #90a7b2;
    font-weight: 400;
}


.footer-info-copyright {
    font-size: 12px;
    line-height: 20px;
}





